
<div class="container">
  <h2>Stupid Coaching</h2>

  <div class="question">
    <p><%= @question %></p>
    <p><em>-You</em></p>
  </div>

  <br>

  <div class="answer">
    <p class="coach-answer"><%= @answer %></p>
    <p><em>-Your coach</em></p>
  </div>

  <%= link_to 'Ask a new question', ask_path %>
</div>


