<h2>Stupid Coaching</h2>

<form action="/answer">
  <label for="question">Ask your coach everything!</label>
  <div class="question-input">
    <input type="text" name="question" id="question">
    <input type="submit" value="Ask!" class='btn'>
  </div>
</form>
